* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Metrophobic", sans-serif;
}

h2.title {
  color: #1c1c1f;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

p.desc {
  width: 700px;
  color: #98999a;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto 70px;
  text-align: center;
}

main .hero {
  width: 100%;
  height: 100vh;
  background-image: url("images/1000_F_479843196_Xv5SKtI4VThBYsgGRNo6YI8N2uFtoCPT.jpg");
  background-size: cover;
  background-position: center;
}

main .hero .container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255) 0% 50%,
    rgba(255, 255, 255, 0.9)
  );
  padding: 70px;
  text-align: center;
}

main .hero .container .logo {
  width: 120px;
  height: 120px;
  margin-bottom: 40px;
}

main .hero .container .title {
  color: #1c1c1f;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

main .hero .container .desc {
  width: 770px;
  color: #98999a;
  font-size: 23px;
  font-weight: 400;
  margin: 0 auto 50px;
}

main .hero .container a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 25px;
  margin: 0px 5px;
  border-radius: 25px;
}

main .hero .container a.down-ios {
  background-color: #26baa6;
  box-shadow: 0 5px 20px #93ddd3;
}

main .hero .container a.down-ios:hover {
  background-color: #22a795;
  box-shadow: 0 5px 20px #93ddd3;
}

main .hero .container a.down-mac {
  background-color: #6174fc;
  box-shadow: 0px 5px 20px #b0bafe;
}

main .hero .container a.down-mac:hover {
  background-color: #5768e3;
  box-shadow: 0px 5px 20px #b0bafe;
}

main .features {
  width: 100%;
  padding: 100px 0 0;
}

main .features img {
  width: 50%;
  height: 500px;
}

main .features .features-list {
  vertical-align: top;
  width: 49%;
  display: inline-block;
  padding: 50px 100px;
}

main .features .features-list .title {
  color: #1c1c1f;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

main .features .features-list .desc {
  text-align: left;
  width: 100%;
  color: #98999a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

main .platform {
  width: 100%;
  padding: 100px 0 0;
  text-align: center;
}

main .tools {
  width: 100%;
  padding: 100px 0 100px;
  text-align: center;
  vertical-align: top;
}

main .tools .tools-list {
  vertical-align: top;
  display: inline-block;
  width: 350px;
  margin: 0 10px;
}

main .tools .tools-list img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

main .tools .tools-list h3 {
  color: #1c1c1f;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
}

main .tools .tools-list p {
  color: #98999a;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

main .brands {
  width: 100%;
  text-align: center;
}

main .brands img {
  width: 200px;
  height: 70px;
  margin: 0 50px;
}

main .downloads {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

main .downloads a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 25px;
  margin: 0px 5px;
  border-radius: 25px;
}

main .downloads a.down-ios {
  background-color: #26baa6;
  box-shadow: 0 5px 20px #93ddd3;
}

main .downloads a.down-ios:hover {
  background-color: #22a795;
  box-shadow: 0 5px 20px #93ddd3;
}

main .downloads a.down-mac {
  background-color: #6174fc;
  box-shadow: 0px 5px 20px #b0bafe;
}

main .downloads a.down-mac:hover {
  background-color: #5768e3;
  box-shadow: 0px 5px 20px #b0bafe;
}

footer {
  width: 100%;
  background: #f5f6f8;
  padding: 30px 150px;
}

footer img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
}

footer .footer-columns {
  vertical-align: middle;
  display: inline-block;
  margin-left: 100px;
}

footer .footer-columns ul {
  vertical-align: top;
  display: inline-block;
  list-style: none;
  margin-right: 80px;
}

footer .footer-columns ul a {
  display: inline-block;
  text-decoration: none;
  color: #6f777d;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

footer .socials {
  vertical-align: middle;
  display: inline-block;
  margin-left: 55px;
}

footer .socials a {
  color: #6f777d;
  font-size: 28px;
  margin: 0 10px;
}
